<header class="common-nav-header">
  <div class="container">
    <!-- 头像+标题 -->
    <div id="branding">
      <img src="../images/avatar.jpg" alt="Just.Joker" width="50px" height="50px">
      <h1>Joker <span>Blog</span></h1>
    </div>
    
    <!-- PC端横向菜单 -->
    <ul id="navigation1">
      <li><a href="../index.html">首页</a></li>
      <li><a href="../html/showcase.html">展示项目</a></li>
      <li><a href="../html/latest.html">最新文章</a></li>
    </ul>
    
    <!-- 移动端书本图标 -->
    <p id="headericon">📖</p>
    
    <!-- 移动端竖向下拉菜单 -->
    <ul id="navigation2">
      <li><a href="../index.html">首页</a></li>
      <li><a href="../html/showcase.html">展示项目</a></li>
      <li><a href="../html/latest.html">最新文章</a></li>
    </ul>
  </div>
</header>
